[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pythonlemmy = "==0.1.0"
pyyaml = "*"
dataclass-wizard = "*"
dataclasses = "*"
isodate = "*"
croniter = "*"

[dev-packages]

[requires]
python_version = "3.11"
